ul#plan {
    height: 480;
    margin: 0px;
    vertical-align: top;
    overflow: scroll;
    width: 300;
    display: inline-block;
    overflow-y: scroll;
    overflow-x: hidden;
}

ul#plan li {
    border-width: 5px;
}

li.cmd-current {
    background-color: #ccffcc;
    list-style-type: arrow;
}

li.cmd-selected {
    color: #fff;
    background-color: #000088;
    list-style-type: arrow;
}

li.cmd {
    list-style-type: none;
}

li.cmd-done {
    color: #888;
    list-style-type: none;
}

li.cmd-skipped {
    color: #800;
    list-style-type: none;
}

div#currentgen-stats {
    width: 250px;
    style: block-inline;
    font-size: 80%;
    whitespace: nowrap;
}

div#allgens-stats {
    width: 250px;
    style: block-inline;
    font-size: 80%;
    whitespace: nowrap;
}

button {
    vertical-align: top;
}

div.menu {
    position: absolute;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-style: solid;
    border-width: 2px;
    background-color: #ddd;
}

div.menu div.menu-item {
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
}
